@{
    //var formed = new DateTime(2020,010,01);
    //var diff = DateTime.Now.Subtract(formed);
    //var days = diff.Days;

    //Bad code conduct

}

@model AboutViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About Page</h1>
    <p>Learn about @Model.Title</p>
</div>




<p>@Model.Message</p>

<p>SMS is a student management system</p>

<p>Student Management system was created on @Model.FormedStr or @Model.Days ago</p>

<p>The time is now @DateTime.Now</p>

<p>Last week this time: @(DateTime.Now -TimeSpan.FromDays(7))</p>


